/*Import Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
}
html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #dedcdc;
    overflow-x: hidden;
}
/*Page title*/
.title, .title:visited, .title:active, .title:link {
    font-size: 5.5vmax;
    font-weight: 700;
    font-family: 'Recursive', sans-serif;
    text-decoration: none;
    color: #000000;    
    display: inline;
    text-align: center;
    text-shadow: -2px 2px white;   
}
.resume-head{
    display: none;
}
/*Containers & alignment*/
.grid-container{
    display: grid;
    height: 100%;
}
.content-container{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
}
#header{
    display: flexbox;
    width: 100%;
    height: 15%;
    color: white;
    justify-content: center;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
.textcontain-head{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15%;
    padding: 10px;
    width: fit-content;
    text-align: left;
    display: flexbox;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.10);
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.25);
}
.textcontain-body{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15%;
    margin-right: 10%;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top:15px;
    width: fit-content;
    padding-right: 5%;
    text-align: left;
    display: flexbox;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.10);
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.25);
}
/*Navbar*/
.navlink, .navlink:active, .navlink:link, .navlink:visited{
    text-align: center;
    letter-spacing: -1px;
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    display:inline-flex;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 4vmin;
    font-weight: 300;
    text-decoration: none;
    color: black;
}
.navlink:hover{
    color: white;
    font-weight: 700;
    background-color: black;
    border-radius: 5px;
}
.onpage, .onpage:link, .onpage:visited{
    text-decoration: underline;
    text-decoration-color: #427EEF;
    text-decoration-thickness: 4px;
}
#navbar{
    display:flexbox;
    width: 100%;
    height: min-content;
    text-align: center;
    background-color: none;
    justify-content: space-between;
    overflow: hidden;
    margin-bottom: 5%;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    }
/*Bio Bar*/    
#biobar {
    background-color: none;
    justify-content: center;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    height: 100%;
    padding-top: 5%;
    border-right: solid 1px rgba(0, 0, 0, 0.10);
}
.biocontain{
    width: 100%;
    padding-top:5px;
    padding-bottom:5px;
    display:flexbox;
    font-family: 'Roboto Condensed', sans-serif;
}
.bioimg{
    width: 50%;
    height: auto;
    border-radius: 10px;
}
.bioinfo{
    padding-top: 2px;
    margin-top: 15px;
    display: inline;
    font-size: 2.5vmin;
    margin-bottom: 15px;
}
#pronouns{
    margin-top: 10px;
    margin-bottom: 10px;
}
.navicon {
    display: block;
    background-repeat: no-repeat; 
    background-position: left top;
    height: 100%;
    width: auto;
    padding-left: 30px;
    padding-bottom: 10px;
    margin-left: -30px;
}
ul.biocontain{
    flex-direction: column;
    text-align: left;
    padding-left: 25%;
}
/*Navicons*/
#location{
    background-image: url(images/map-marker.svg);
}
#school{
    background-image: url(images/school.svg);
}
#lan{
    background-image: url(images/lan.svg);
}
/*Text formatting*/
h1 {
    font-size: 4vmin;
    display: inline-flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
h2 {
    font-size: 3vmin;
    display: inline-flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
p {
    font-size: 3vmin;
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.link, .link:visited, .link:active, .link:link{
    font-size: 3vmin;
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: underline;
    color: black;
}
/*colors*/
.orange{
color: #FF914D;
}
.lightblue{
color: #4DD8FF;
}
.darkblue{
color: #3697B3;
}
.yellow{
color: #FFD24D;
}
.darkyellow{
color: #B39336;
}
/*Embedded elements*/
object{
    overflow: hidden;
    position: fixed;
}
iframe{
    height: 100%;
    width: 100%;
    overflow: auto;
}
/*Custom stuff*/
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
/*MOBILE VIEW*/
/*Mobile Device*/
@media screen and (max-width: 590px){
    nav ul {
    flex-direction: column;
    }
    #header{
        margin-bottom: 0px;
    }
    .resume-head{
        display: flex;
    }
    object{
        overflow: scroll;
    }
    #navbar {
        border-bottom: solid 2px rgba(0, 0, 0, 0.10);
        margin-bottom: auto;
    }
    .navlink, .navlink:active, .navlink:link, .navlink:visited{
        width: 100%;
        height: 3vh;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 5vmin;
    }
    #biobar{
        width: 100%;
        height: auto;
        padding-bottom: 5%;
    }
    .grid-container{
        display: block;
    }
    .bioinfo{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #pronouns{
        margin: 0px;
    }
}
/*Extremely Tiny Screen*/
@media screen and (max-width: 190px){
    .title, .title:visited, .title:active, .title:link{
        font-size: 16pt;
    }
}
