/*Import Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
}
html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #dedcdc;
    overflow-x: hidden;
}
/*Page title and hero image*/
.title, .title:visited, .title:active, .title:link {
    font-size: 5.5vmax;
    font-weight: 700;
    font-family: 'VT323', monospace;
    text-decoration: none;
    color: #000000;    
    display: inline;
    text-shadow:    
    -2px 2px 0px red,
    -5px 5px 0px green, 
    -8px 8px 0px blue,
    0px 0px 5px #ffffff;
   
}
.heroimg{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/*Containers & alignment*/
.container{
    display: flexbox;
    position: relative;
    height: 20%;
    width: 100%;
    justify-content: center;
    text-align: center;
}
.textcontain-head{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15%;
    padding: 10px;
    width: fit-content;
    text-align: left;
    display: flexbox;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.50);
}
.textcontain-body{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15%;
    margin-right: 10%;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top:15px;
    width: fit-content;
    padding-right: 5%;
    text-align: left;
    display: flexbox;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.50);
}
.center-fit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
/*Navbar*/
.navlink, .navlink:active, .navlink:link, .navlink:visited{
    text-align: center;
    letter-spacing: -1px;
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    display:inline-flex;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 4vmin;
    font-weight: 500;
    text-decoration: none;
    color: white;
}
.navlink:hover {
    color: black;
    fill: black;
    font-weight: 700;
    background-color: white;
}
.navbar{
    display:flexbox;
    width: 100%;
    height: min-content;
    text-align: center;
    background-color: black;
    justify-content: space-between;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    }
/*Text formatting*/
h1 {
    font-size: 4vmin;
    display: inline-flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
h2 {
    font-size: 3vmin;
    display: inline-flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
p {
    font-size: 3vmin;
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.link, .link:visited, .link:active, .link:link{
    font-size: 3vmin;
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: underline;
    color: black;
}
/*colors*/
.orange{
color: #FF914D;
}
.lightblue{
color: #4DD8FF;
}
.darkblue{
color: #3697B3;
}
.yellow{
color: #FFD24D;
}
.darkyellow{
color: #B39336;
}
/*Custom stuff*/
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
/*MOBILE VIEW*/

@media screen and (max-width: 590px){
    nav ul {
    flex-direction: column;
}
    .navlink {
        width: 100%;
    }
}
